.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 0 8.4% 0 8.4%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav__lists {
    display: flex;
    gap: 40px;

    .nav__lists-item {
        position: relative;

        a {
            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: orange;
                transform: scale(0, 1);
                transform-origin: right top;
                transition: transform 0.3s ease;
            }

            &:hover::after {
                transform: scale(1, 1);
                transform-origin: left top;
            }
        }
    }
}

.arrow__nav {
    margin-bottom: 3px;
}

.hum {
    display: none;
}

.hum__nav {
    display: none;
}

@media screen and (max-width: 1024px) {

    // ヘッダーのサイズ変更
    .header {
        padding: 5px 6.4% 5px 6.4%;
        height: 60px;

        .header__nav {
            display: none;
        }
    }

    // ハンバーガーメニューの実装
    .hum {
        display: flex;

        .hum__btn {
            position: relative;
            width: 25px;
            height: 25px;
            cursor: pointer;
            margin-left: 10px;

            span {
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: orange;
                transition: all 0.3s ease;

                &:first-child {
                    transition-duration: 0.5s;
                    top: 5px;
                }

                &:last-child {
                    transition-duration: 0.5s;
                    top: 15px;
                }
            }
        }
    }

    // ハンバーガーメニュー ナビゲーション設定
    .hum__nav {
        display: block;
        position: fixed;
        top: 60px;
        right: -120%;
        width: 100%;
        height: 100vh;
        background: orange;
        transition: all 0.6s;

        .hum__nav-lists {
            padding: 48px 0 0 6.4%;
            margin-top: 60px;
            gap: 10px;

            li {
                font-size: 48px;
                line-height: 69.5px;
                color: white;
            }
        }
    }

    .open__nav {
        right: 0;
    }

    .arrow__hum {
        margin-bottom: 15px;
    }

    // アクティブ時のボタンアニメーション
    .active {
        span:first-child {
            transition-duration: 0.5s;
            transform: translateY(5px) rotate(-45deg);
        }

        span:last-child {
            transition-duration: 0.5s;
            transform: translateY(-5px) rotate(-135deg);
        }
    }
}